<a href="https://colab.research.google.com/github/AnkanaSonowal/Opinion-Based-Community-Detection-in-Online-Social-Networks/blob/main/DataCleaning_Tweepy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install textblob

In [ ]:
!python -m textblob.download_corpora

In [ ]:
import pandas as pd
cols=['created_at','id','text','source','user_id','truncated','in_reply_to_status_id','in_reply_to_user_id','in_reply_to_screen_name',
     'retweeted_status_id','geo', 'place','retweet_count','reply_count','favorite_count','num_hashtags','num_urls','num_mentions','timestamp']
data=pd.read_csv("tweets.csv",usecols = ['text','user_id'],nrows=1048575)

print(data.head(5))

In [ ]:
len(data)

1048575

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [ ]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [ ]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\welco\appdata\local\programs\python\python37\lib\site-packages (4.8.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\welco\appdata\local\programs\python\python37\lib\site-packages (from BeautifulSoup4) (1.9.5)

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [ ]:
import re
from bs4 import BeautifulSoup

In [ ]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\welco\appdata\local\programs\python\python37\lib\site-packages (4.4.2)

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [ ]:
pat1 = r'@[A-Za-z0-9]+'
pat2 = r'http?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    soup = BeautifulSoup(text, "html.parser")
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)
    lower_case = letters_only.lower()
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(lower_case)
    return (" ".join(words)).strip()

In [ ]:
print(data['user_id'][1048574])

290723075

In [ ]:
nums = [0,300000,700000,1048574]

In [ ]:
import csv
f = open('clean_tweets_new.csv', 'w')
with f:    
    fnames = ['user_id','text']
    writer = csv.DictWriter(f, fieldnames=fnames) 
    writer.writeheader()

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweet_texts = [] 
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))   
    s=tweet_cleaner(str(data['text'][i]))
    #writer.writerow({'user_id' :str(data['user_id'][i]), 'text':s})
    clean_tweet_texts.append({'user_id' :str(data['user_id'][i]), 'text':s})
    #clean_tweet_texts.append(s)
    print("text:%s",s)

In [ ]:
len(clean_tweet_texts)

300000

%%time
print("Cleaning and parsing the tweets...\n")
clean_tweet_texts = [] 
for i in range(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))   
    s=tweet_cleaner(str(data['text'][i]))
    #writer.writerow({'user_id' :str(data['user_id'][i]), 'text':s})
    clean_tweet_texts.append({'user_id' :str(data['user_id'][i]), 'text':s})
    #clean_tweet_texts.append(s)
    print("text:%s",s)

In [ ]:
len(clean_tweet_texts)

700000

In [ ]:
%%time
print("Cleaning and parsing the tweets...\n")
#clean_tweet_texts = [] 
for i in range(nums[2],nums[3]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))   
    s=tweet_cleaner(str(data['text'][i]))
    #writer.writerow({'user_id' :str(data['user_id'][i]), 'text':s})
    clean_tweet_texts.append({'user_id' :str(data['user_id'][i]), 'text':s})
    #clean_tweet_texts.append(s)
    print("text:%s",s)

In [ ]:
len(clean_tweet_texts)

1048574

In [ ]:

clean_data = pd.DataFrame(clean_tweet_texts,columns=['user_id','text'])
#clean_data['target'] = df.sentiment
clean_data.head()

   user_id                                               text
0  3610511  the screenweek h daily is out top stories toda...
1  3610511  sw daily top news top stories by disney it win...
2  3610511  the davide dellacasa daily is out top stories ...
3  3610511  sw top story planes il teaser trailer ufficial...
4  3610511  the screenweek h daily is out top stories toda...

In [ ]:
clean_data.to_csv('clean_tweet.csv',encoding='utf-8')

In [ ]:

csv = 'clean_tweet.csv'
my_data = pd.read_csv(csv,index_col=0)
my_data.head()

   user_id                                               text
0  3610511  the screenweek h daily is out top stories toda...
1  3610511  sw daily top news top stories by disney it win...
2  3610511  the davide dellacasa daily is out top stories ...
3  3610511  sw top story planes il teaser trailer ufficial...
4  3610511  the screenweek h daily is out top stories toda...

In [ ]:
import pandas as pd
clean_data=pd.read_csv("clean_tweet.csv")

In [ ]:
len(clean_data)

1048574

In [ ]:
def get_tweet_sentiment(tweet): 
        ''' 
        Utility function to classify sentiment of passed tweet 
        using textblob's sentiment method 
        '''
        # create TextBlob object of passed tweet text 
        analysis = TextBlob(tweet) 
        # set sentiment 
#         if analysis.sentiment.polarity > 0: 
#             return 'positive'
#         elif analysis.sentiment.polarity == 0: 
#             return 'neutral'
#         else: 
        return analysis.sentiment.polarity

In [ ]:
from textblob import TextBlob

In [ ]:
nums = [0,300000,700000,1048574]

In [ ]:
print("Sentiment Analysis Tweet...\n")
rows=[]
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))   
    f=get_tweet_sentiment(str(clean_data['text'][i])) 
    rows.append({'user_id' :str(clean_data['user_id'][i]), 'sentiment':str(f)})   
    print(str(f) )

In [ ]:
len(rows)

300000

In [ ]:
print("Sentiment Analysis Tweet...\n")
#rows=[]
for i in range(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))   
    f=get_tweet_sentiment(str(clean_data['text'][i])) 
    rows.append({'user_id' :str(clean_data['user_id'][i]), 'sentiment':str(f)})   
    print(str(f) )

In [ ]:
len(rows)

700000

In [ ]:
print("Sentiment Analysis Tweet...\n")
#rows=[]
for i in range(nums[2],nums[3]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))   
    f=get_tweet_sentiment(str(clean_data['text'][i])) 
    rows.append({'user_id' :str(clean_data['user_id'][i]), 'sentiment':str(f)})   
    print(str(f) )

In [ ]:
len(rows)

NameError: ignored

In [ ]:
new_data = pd.DataFrame(rows,columns=['user_id','sentiment'])
#clean_data['target'] = df.sentiment
new_data.head()

   user_id           sentiment
0  3610511                0.25
1  3610511  0.3333333333333333
2  3610511                0.25
3  3610511                 0.5
4  3610511                0.25

In [ ]:
new_data.to_csv('sentiment_tweet.csv',encoding='utf-8')

In [ ]:
import numpy as np 
import pandas as pd
#Started 18 APril here

In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link='https://drive.google.com/open?id=1aJH6dRi_fl0zLtMwYxqsbj1tzH4zBrh_'

In [ ]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1aJH6dRi_fl0zLtMwYxqsbj1tzH4zBrh_

In [ ]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('sentiment_tweet.csv')  
my_data = pd.read_csv('sentiment_tweet.csv')

In [ ]:

# csv = 'sentiment_tweet.csv'
# my_data = pd.read_csv(csv)
my_data.head()

In [ ]:
my_data.columns

Index(['Unnamed: 0', 'user_id', 'sentiment'], dtype='object')

In [ ]:
my_data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
my_data

In [ ]:
len(my_data)

1048574

In [ ]:
my_data.columns

Index(['user_id', 'sentiment'], dtype='object')

In [ ]:
my_data.dtypes

user_id        int64
sentiment    float64
dtype: object

In [ ]:
l1=[ my_data['sentiment'][i] for i in range(len(my_data)) if my_data['user_id'][i]== 3610511]

In [ ]:
len(l1)

3057

In [ ]:
pos,neg,zero,sum=0,0,0,0
posn,negn=0,0
for num in l1:
  if(num>0):
    pos=pos+1
    posn=posn+num
  elif(num<0):
    neg=neg+1
    negn=negn+num
  elif(num==0):
    zero=zero+1
  sum=sum+num
print(pos,neg,zero,sum,sum/len(l1),posn/pos,negn/neg)

982 170 1905 297.81693903318876 0.09742130815609708 0.34650656746888864 -0.24972064836035418

In [ ]:
uniqUsers=[]
uniqUsers=my_data.user_id.unique()

In [ ]:
len(uniqUsers)

585

In [ ]:
group=my_data.groupby('user_id')

In [ ]:
df=group.apply(lambda x:x['sentiment'])

In [ ]:
df.head()

user_id
3610511  0    0.250000
         1    0.333333
         2    0.250000
         3    0.500000
         4    0.250000
Name: sentiment, dtype: float64

In [ ]:
len(df)

1048574

In [ ]:
df2=pd.DataFrame({'user_id':my_data.user_id.unique()})

In [ ]:
df2['sentiment']=[list(set(my_data['sentiment'].loc[my_data['user_id']==x['user_id']])) for _,x in df2.iterrows() ]

In [ ]:
df2.head()

   user_id                                          sentiment
0  3610511  [0.25, 0.5, 0.0, -0.25, 0.7, -0.09375, -0.125,...
1  5656162  [0.5, 0.0, -0.125, 0.25, 0.8, -0.3125, -0.5, 0...
2  5682702  [0.5, 0.0, 0.8, -0.5, -0.125, 0.0625, -0.03125...
3  6015122  [0.0, 0.3666666666666667, -0.1555555555555556,...
4  6067292  [0.0, 0.13636363636363635, 0.21666666666666667...

In [ ]:
len(df2)

585

In [ ]:
df2.to_csv('user_sentiment_list.csv',encoding='utf-8')

In [ ]:
df2['sentiment'][0]

In [ ]:
rows=[]
for i in range(len(df2)):
  sentiment_list=df2['sentiment'][i]
  pos,neg,zero=0,0,0
  posn,negn=0,0
  for num in sentiment_list:
    if(num>0):
      pos=pos+1
      posn=posn+num
    elif(num<0):
      neg=neg+1
      negn=negn+num
    elif(num==0):
      zero=zero+1
  if(pos>neg) and (pos>zero):
    sum=posn/pos
  elif(neg>=pos) and (neg>=zero):
    sum=negn/neg
  elif(zero>=neg) and (zero>=pos):
    sum=0
  
  rows.append({'user_id':str(df2['user_id'][i]),'sentiment':str(sum)})

In [ ]:
# rows=[]
# ids=str(my_data['user_id'][0])
# val=float(str(my_data['sentiment'][0]))
# count=1
# for i in range(1,1048574):
#     if(str(my_data['user_id'][i])== str(ids)):
    
#         val=val+float(str(my_data['sentiment'][i]));
#         count=count+1;
#         if(i==100004):
#             cal=float(val/count)
#             rows.append({'user_id':str(my_data['user_id'][i-1]),'sentiment':str(cal) , 'count': str(count)})
       
#     else :
    
        
#         cal=float(val/count)
#         rows.append({'user_id':str(my_data['user_id'][i-1]),'sentiment':str(cal) , 'count': str(count)})
#         count=1
#         ids=str(my_data['user_id'][i])
#         val=float(str(my_data['sentiment'][i]));
  
#this block not executed

In [ ]:
new_data = pd.DataFrame(rows,columns=['user_id','sentiment'])
#clean_data['target'] = df.sentiment
new_data.head()

   user_id            sentiment
0  3610511   0.3200673400673402
1  5656162   0.2711023412418761
2  5682702  0.25232000487435274
3  6015122   0.3627417976760083
4  6067292  0.24907249183564978

In [ ]:
num=0
for i in range(len(new_data)):
  if (float(new_data['sentiment'][i] )<0):
    num=num+1
print(num)

15

In [ ]:
minm=new_data['sentiment'].min()
maxm=new_data['sentiment'].max()

In [ ]:
print(minm,maxm)

-0.07291666666666666 0.5861904761904763

In [ ]:
data=new_data['sentiment'][:]
for i in range(len(data)):
  val=float(data[i])
  val=(val-float(minm))/(float(maxm)-float(minm))
  val=(2*val)-1
  data[i]=val

In [ ]:
num=0
for i in range(len(data)):
  if (data[i] <0):
    num=num+1
print(num)

60

In [ ]:
len(data)

585

In [ ]:
data

In [ ]:
num=0
for i in range(len(data)):
  if (data[i] <-1):
    data[i]=-1
  if(data[i]>1):
    data[i]=1
print(num)

0

In [ ]:
num=0
for i in range(len(data)):
  if (data[i] >1 ):
    num=num+1
print(num)

0

In [ ]:
rows=[]
for i in range(len(data)):
  rows.append({'user_id':str(new_data['user_id'][i]),'sentiment':str(data[i])})

In [ ]:
df3 = pd.DataFrame(rows,columns=['user_id','sentiment'])
#clean_data['target'] = df.sentiment
df3.head()

In [ ]:
df3.to_csv('final_sentiment_tweet.csv',encoding='utf-8')

In [ ]:
num=0
for i in range(len(df3)):
  if (float(df3['sentiment'][i] )< 0):
    num=num+1
print(num)

60

In [ ]:
csv = 'final_sentiment_tweet.csv'
my_data_new = pd.read_csv(csv,index_col=0)
my_data_new.head()

   user_id  sentiment
0  3610511   0.192474
1  5656162   0.043894
2  5682702  -0.013099
3  6015122   0.321966
4  6067292  -0.022954

In [ ]:
len(my_data_new)
#done till here

585

TWEEPY FOR EXTRACTING USERS PROFILE

In [ ]:
import tweepy
import csv
import numpy as np
import pandas as pd
from textblob import TextBlob

consumer_key = 'g8UNaAX1AgkEC45HdYxt42Axi'
consumer_secret = 'cppp2JZBkYDvNreTVMK7gUYrjnrueVoNYPmsrd6F21rqx0j2af'
access_token = '872730273309274116-xr5hsHrvSyWvPWfcHNbyyKbuuXCiFl4'
access_secret = 'eTYBC9SzPlBMM1aGt3XSOIyF6jazr5qgaXPDze50BTnTE'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
#api = tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True)
user=api.get_user(14709812)

# print(user)

print(user.screen_name)
print(user.followers_count)
print(user.friends_count)

#print(user.friends)

#for friend in user.friends():
   # print(friend.screen_name)

ladegri
886
964

In [ ]:
follower_file=[]

for i in range(0,584):
    uid=str(my_data_new['user_id'][i])
    try:
        user=api.get_user(int(uid,10))
        frnd_list=[]

        if user is not None:
            for friend in user.friends():
                for i1 in range(0,584):
                    if friend.id == my_data_new['user_id'][i1]:            
                        frnd_list.append(str(friend.id))
#                 frnd_list.append(',')

            follower_file.append({'user_id':str(my_data_new['user_id'][i]),'sentiment':str(my_data_new['sentiment'][i]),
                                  'count':str(my_data_new['count'][i]),'follower_list':frnd_list})
        #print("Ok")
        
    except tweepy.error.TweepError:
        print("user not found")

In [ ]:
new_data_follower = pd.DataFrame(follower_file,columns=['user_id','sentiment','count','follower_list'])
#clean_data['target'] = df.sentiment
new_data_follower.head()

   user_id             sentiment count follower_list
0  3610511   0.09742130815609708  3057            []
1  5656162    0.0799917257661822  3128            []
2  5682702   0.02572604183018209  3158            []
3  6015122  0.021585964703509444  2012            []
4  6067292   0.01628173625026435  3098            []

In [ ]:
new_data_follower.to_csv('sentiment_follower_tweet.csv',encoding='utf-8')

In [ ]:
import pandas as pd

In [ ]:
#using the dataset after removing comma sentiment_user
csv3 = 'sentiment_user.csv'
my_data_follower = pd.read_csv(csv3,index_col=0)
my_data_follower.head()

,user_id,sentiment,count,follower_list
0,3610511,0.097421,3057,"['42662397', '145225789', '73971750', '2..."
1,5656162,0.079992,3128,"['751128534', '446532729', '867857940', ..."
2,5682702,0.025726,3158,"['634897018', '42837007', '25960529', '1..."
3,6015122,0.021586,2012,"['217806728', '505774943', '308502351', ..."
4,6067292,0.016282,3098,"['1183907521', '818837224003289088', '9871..."

In [ ]:
len(my_data_follower)

38

In [ ]:
csv4='convincing_power.csv'
conv_pow = pd.read_csv(csv4,index_col=0)
conv_pow.head()

,user_id,retweet_count,user_mention_count,followers_count,convincing_power
0,3610511,716992,100,4548,0.384402
1,5656162,716992,4,475,0.018871
2,5682702,716992,31,287,0.105722
3,6067292,716992,96,978,0.328489
4,6140012,716992,22,1189,0.086814

In [ ]:
follow_list=my_data_follower['follower_list'][0]
tempresult=follow_list.split(",")

for i in range(0,len(tempresult)):
    print(int((tempresult[i]).strip('[]\' ')) )

print(len(tempresult))

42662397
145225789
73971750
2289311450
469153
21843
801754
2267806358
520594358
2905440476
702932794947694592
847791835741384705
1050122704202788864
903754637072769024
4524412653
428521248
57282569
418814614
1628926970
2098681
20

In [ ]:
sentiment_values=[]
for i in range (0,len(my_data_follower)):
    ival=0.0
    nofol=0
    result=[]
    print("id:"+str(my_data_follower['user_id'][i]))
    follow_list=str(my_data_follower['follower_list'][i])
    tempresult=follow_list.split(",")
    for i1 in range(0,len(tempresult)):
        result.append(int((tempresult[i1]).strip('[]\' ')))
        #print(result[i1])
    
    for k in range(0,len(result)):
        
        for j in range(0,len(my_data_follower)):
            flag=0
            if(str(j) != str(i)):
                #print("j:"+str(j)+" k:"+str(k))
                if(str(my_data_follower['user_id'][j]) == str(result[k])):
                    
                    for l in range(0,len(conv_pow)):
                            if(str(conv_pow['user_id'][l]) == str(result[k])):
                                wi=str(conv_pow['convincing_power'][l])
                                break
                          
                    if wi is not None:
                        diff=float(str(my_data_follower['sentiment'][i]))-float(str(my_data_follower['sentiment'][j]))
                        ival=ival+float(wi)*pow(diff,2)
                    flag=1
                if(flag==1):
                    break
                

    
    
    
    
    
        #print("no follower matched for "+ str(my_data_follower['user_id'][i]))
    ival=(float(str(my_data_follower['sentiment'][i]))*float(str(my_data_follower['sentiment'][i])))+ival
    print("final sentiment: "+str(ival))
    #nofol=1
    
    #if(nofol==1):
    sentiment_values.append({'user_id':str(my_data_follower['user_id'][i]),'sentiment_value': str(ival)})
   # else :
       # sentiment_values.append({'user_id':str(my_data_follower['user_id'][i]),'sentiment_value': str(ival),'match_value':"1"})

In [ ]:
sentiment = pd.DataFrame(sentiment_values,columns=['user_id','sentiment_value'])
#clean_data['target'] = df.sentiment
sentiment.head()

   user_id         sentiment_value
0  3610511    0.009490911252430866
1  5656162    0.006398676228459076
2  5682702   0.0006618292369857641
3  6015122  0.00046595388498122493
4  6067292  0.00026509492717369606

In [ ]:
sentiment.to_csv('sentiment_value_final.csv',encoding='utf-8')

In [ ]:

csv5 = 'sentiment_value_final.csv'
my_data_sentiment = pd.read_csv(csv5,index_col=0)
my_data_sentiment.head(10)

   user_id  sentiment_value
0  3610511         0.009491
1  5656162         0.006399
2  5682702         0.000662
3  6015122         0.000466
4  6067292         0.000265
5  6134312         0.005091
6  6140012         0.000158
7  6684602         0.000136
8  7046912         0.002687
9  8072492         0.000123

In [ ]:
import pandas as pd
data=pd.read_csv("sentiment_follower_tweet.csv")

print(data.head(5))

   Unnamed: 0  user_id  sentiment  count follower_list
0           0  3610511   0.097421   3057            []
1           1  5656162   0.079992   3128            []
2           2  5682702   0.025726   3158            []
3           3  6015122   0.021586   2012            []
4           4  6067292   0.016282   3098            []

In [ ]:
len(data)

485

In [ ]:
import numpy as np
import random
from random import randrange
from random import choice

In [ ]:
follower_file=[]
random_followers=[]

for i in range(0,484):
   
    random_followers=[]
    followee_list=[]
    #(1)Generating random numbers of  follower for every user i(50,100 can be changed)  
    fol_num=random.randrange(1,20);
    print(fol_num)
    #(2)Generating fol_num numbers of followers from 0 to 484 excluding i itself
    random_followers=random.sample(range(0, 484), fol_num)
    print(random_followers)
    print("len:")
    print(len(random_followers))
    for j in range(0,len(random_followers)):
        if(random_followers[j]==i):
            y=[]
            y =list(random_followers)
            y.append(i);
            random_followers[j]=choice([k for k in range(0,484) if k not in y])
            break;
    for j in range (0,len(random_followers)):
        followee_list.append(str(data['user_id'][random_followers[j]]))
        
    follower_file.append({'user_id':str(data['user_id'][i]),'initial_opinion':str(data['sentiment'][i]),
                                   'count':str(data['count'][i]),'follower_list':followee_list,'index_list':random_followers})

In [ ]:
sentiment = pd.DataFrame(follower_file,columns=['user_id','initial_opinion','count','follower_list','index_list'])
#clean_data['target'] = df.sentiment
sentiment.head()

,user_id,initial_opinion,count,follower_list,index_list
0,3610511,0.09742130815609708,3057,"[81592426, 118339229, 256689270, 85305729, 103...","[196, 272, 446, 211, 238, 217, 197]"
1,5656162,0.0799917257661822,3128,"[249122012, 132104173, 181477746]","[434, 286, 346]"
2,5682702,0.02572604183018209,3158,"[23748269, 268773741, 176362396, 48665791, 211...","[51, 465, 343, 110, 389, 215, 414, 100, 473]"
3,6015122,0.021585964703509444,2012,"[22136015, 225045616, 45778279, 67006908, 8923...","[48, 407, 103, 162, 221, 376, 442, 174, 451, 4..."

In [ ]:
sentiment.to_csv('Final_follower_random_list.csv',encoding='utf-8')

In [ ]:
csv5 = 'Final_follower_random_list.csv'
my_data_sentiment = pd.read_csv(csv5,index_col=0)
my_data_sentiment.head(10)

,user_id,initial_opinion,count,follower_list,index_list
0,3610511,0.097421,3057,"['81592426', '118339229', '256689270', '853057...","[196, 272, 446, 211, 238, 217, 197]"
1,5656162,0.079992,3128,"['249122012', '132104173', '181477746']","[434, 286, 346]"
2,5682702,0.025726,3158,"['23748269', '268773741', '176362396', '486657...","[51, 465, 343, 110, 389, 215, 414, 100, 473]"
3,6015122,0.021586,2012,"['22136015', '225045616', '45778279', '6700690...","[48, 407, 103, 162, 221, 376, 442, 174, 451, 4..."